.featured-events__card{

}

.featured-events__card-content{
  p{
    line-height: 1.22rem;
  }
  .suggestion__card-title{
    position: relative;
    padding-right: 35px;
    p{
      font-weight: 500;
      margin-bottom:  5px;
    }
    .content-card__label{
      right: 0;
      top: 0;
    }
  }
  @include respond-to(md){
    padding: $gap * 0.5 15px $gap;
  }
}
