.hero--inner-page {
  position: relative;
  padding-bottom: $gap;
  min-height: 303px;

  .hero__text-wrap {
    min-height: 10px !important;
    height: auto;
    padding: 190px 0 90px 0;
    color: #fff;
  }
  @include respond-to(md) {
    min-height: 371px;
    padding-bottom: 0;
    .hero__text-wrap {
      padding: 237px 0 52px 0;
    }
  }
}

.hero__bg--inner-page {
  background-color: $dark-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 303px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @include respond-to(md) {
    min-height: 100%;
  }
}
