.hero--inner-page {
  position: relative;
  padding-bottom: $gap;
  min-height: 313px;
  .container{
    display: flex;
    min-height: 313px;
    max-height: 313px;
    justify-content: center;
  }
  &.no-padding{
    padding-bottom: 0;

    .page-submenu__outer-return{
      bottom: 13.5px;
    }
  }

  .hero__text-wrap {
    min-height: 10px !important;
    height: auto;
    //padding: 190px 0 90px 0;
    margin-top: auto;
    margin-bottom: 90px;
    padding: 0;
    color: #fff;
  }
  @include respond-to(md) {
    min-height: 388px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    .container{
      min-height: 1px;
      max-height: none;
      display: block;
    }
    .hero__text-wrap {
      padding: 242px 0 47px 0;
      margin-bottom: 0;
    }
  }
}

.hero__bg--inner-page {
  background-color: $dark-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 313px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @include respond-to(md) {
    min-height: 100%;
  }
}
