/*Suggestions section*/

.inner-page__suggestions{
  padding-top: 30px;
  padding-bottom: $gap*1.5;
  background: $yellow-gradient;
  h2{
    font-size: 1.55rem; //28px
    line-height: 2.11rem; //38px
    margin-bottom: 25px;
  }
  @include respond-to(md){
    padding-top: $gap;
    padding-bottom: $gap*1.5;
    h2{
      margin-bottom: $gap;
    }
  }
}

.suggestion__card{
  background-color: #fff;
  .link-more{
    color: $text-color;
    margin-top: 8px;
  }
  h3{
    margin-bottom: 2px;
  }
}

.suggestion__card-img{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 190px;
  picture, img {
    width: 100%;
    height: 100%;
    @include ieStyles{
      height: auto;
      min-height: 100%;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
    @include ieStyles{
      min-width: 100%;
      max-width: none;
      min-height: 100%;
      height: auto;
    }
  }

  @include respond-to(md) {
    height: 210px;
  }
  @include respond-to(lg) {
    height: 242px;
  }
}

.suggestion__card-content{
  padding: 16px 15px 35px;
  h4{
    line-height: 1.5rem;
    margin-bottom: 5px;
  }

  @include respond-to(md){
    padding: $gap * 0.5 15px $gap * 0.5;
    //padding: $gap * 0.5 11px $gap;
  }
}

/*Suggestions section*/
