/*Suggestions section*/

.inner-page__suggestions{
  padding-top: 30px;
  padding-bottom: $gap*1.5;
  background: $yellow-gradient;
  h2{
    font-size: 1.55rem; //28px
    line-height: 2.11rem; //38px
    margin-bottom: 25px;
  }
  @include respond-to(md){
    padding-top: $gap;
    padding-bottom: $gap*1.5;
    h2{
      margin-bottom: $gap;
    }
  }
}

.suggestion__card{
  background-color: #fff;
  .link-more{
    color: $text-color;
    margin-top: 8px;
  }
}

.suggestion__card-img{
  display: flex;
  picture, img{
    width: 100%;
  }
  img{
    object-fit: cover;
    object-position: center;
    max-height: 300px;
  }
  @include respond-to(md){
    img{
      max-height: none;
    }
  }
}

.suggestion__card-content{
  padding: 16px 15px 35px;
  h4{
    line-height: 1.5rem;
    margin-bottom: 5px;
  }

  @include respond-to(md){
    padding-bottom: $gap * 0.5;
  }
}

/*Suggestions section*/
