.inner-page__content-section{
  padding-top: 26px;
  padding-bottom: $gap*1.5;

  .inner-page__media{
    margin-bottom: 37px;
  }

  @include respond-to(md){
    padding-top: $gap*1.5;
    padding-bottom: $gap*1.5;

    .inner-page__media{
      margin-bottom: $gap;
    }
  }
}

.inner-page__content-block{
  padding-bottom: 37px;

  &:last-of-type{
    padding-bottom: 0;
  }

  &.pt-half-x{
    padding-top: $gap * 0.5;
  }

  h2{
    margin-bottom: 11px;
  }
  h3{
    margin-bottom: 14px;
  }
  h4{
    margin-bottom: 16px;
  }

  @include respond-to(md){
    padding-bottom: $gap;
  }
}
