.intro--inner-page {

  .lead__content {
    padding-bottom: $gap;
    p {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    @include respond-to(md) {
      padding-top: $gap;
    }
  }
}

