.content-card {
  background-color: #fff;
  padding: 16px 15px 32px;
  position: relative;
  text-align: left;

  h3 {
    margin-bottom: 8px;
    padding-right: 35px;
  }
  a {
    margin-top: 8px;
    color: $text-color;
  }
}

.content-card__media{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  picture, img{
    width: 100%;
    height: 100%;
  }
  img{
    object-fit: cover;
    object-position: center;
    max-height: 190px;
  }
  @include respond-to(md){
    height: 210px;
    img{
      max-height: none;
    }
  }
  @include respond-to(lg){
    height: 231px;
  }
}

.content-card__title{
  position: relative;
  padding-right: 35px;
  margin-bottom: 5px;
  h3{
    margin-bottom: 5px;
  }
  p{
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.content-card__subtitle{
  h3{
    margin-bottom: 5px;
  }
}

.content-card__label {
  background-color: $yellow-color;
  font-weight: bold;
  font-size: 0.88rem;
  position: absolute;
  top: 16px;
  right: 15px;
  border-radius: 50%;
  @include square(30px);
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  max-height: 30px;
  //padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
