.content-card {
  background-color: #fff;
  padding: 16px 15px 32px;
  position: relative;
  text-align: left;

  h3 {
    margin-bottom: 8px;
    padding-right: 35px;
  }
  a {
    margin-top: 8px;
    color: $text-color;
  }
}

.content-card__label {
  background-color: $yellow-color;
  font-weight: bold;
  font-size: 0.88rem;
  position: absolute;
  top: 16px;
  right: 15px;
  border-radius: 50%;
  @include square(30px);
  display: flex;
  align-items: center;
  justify-content: center;
}
