.content-card {
  background-color: #fff;
  position: relative;
  text-align: left;

  &--textonly {
    padding: 16px 15px 35px;
  }

  h3 {
    margin-bottom: 8px;
    padding-right: 35px;
  }
  a {
    margin-top: 8px;
    color: $text-color;
  }

  @include respond-to(md) {
    &--textonly {
      padding: 16px 15px $gap;
    }
  }
}

.content-card__info{
  padding: 22.5px 15px 35px;

  &--narrow{
    p{
      line-height: 1.22;
    }
  }

  @include respond-to(md){
    padding: 22.5px 15px $gap;
  }

}

.content-card__media {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 190px;
  picture, img {
    width: 100%;
    height: 100%;
    @include ieStyles{
      height: auto;
      min-height: 100%;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
    @include ieStyles{
      min-width: 100%;
      width: 100%;
      max-width: none;
      height: auto;
    }
  }
  @include respond-to(md) {
    height: 210px;
  }
  @include respond-to(lg) {
    height: 242px;
  }
}

.content-card__title {
  position: relative;
  padding-right: 35px;
  margin-bottom: 5px;
  h3 {
    margin-bottom: 5px;
  }
  p {
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.content-card__subtitle {
  h3 {
    margin-bottom: 5px;
  }
}

.content-card__label {
  background-color: $yellow-color;
  font-weight: bold;
  font-size: 0.88rem;
  position: absolute;
  top: 16px;
  right: 15px;
  border-radius: 50%;
  @include square(30px);
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  line-height: 2;
  padding: 0;
  text-align: center;
  display: inline-block;
}
