//Download cards
.content__card-download {
  padding-top: $gap*0.5;
  padding-bottom: $gap*0.5;
  background-color: #fff;
}

.content__card-icon {
  display: inline-block;
  width: 16px;
}

.content__card-download-links {
  margin: 14px 0 10px;
}




