.form__checkbox-wrap{
  label {
    position: relative;
    display: block;
    line-height: 1;
    font-size: 0.88rem;

    .checkmark {
      position: relative;
      display: block;
      margin-right: 10px;
      margin-top: -2px;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid #aaaaaa;
      &--white{
        border: 1px solid #fff;
      }
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: -1px;
        width: 10px;
        height: 15px;
        border: 1px solid $text-color;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  label input:checked ~ .checkmark:after {
    display: block;
  }

  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }

  @include respond-to(md){
    label{
      font-size: 1rem;
    }
  }
}

.form__checkbox-text{
  line-height: 1;
  margin: auto 0;
  display: block;
  font-size: 0.88rem;

  @include respond-to(md){
    font-size: 1rem;
  }
}

.form__checkbox-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__select-wrap {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff;
  p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    height: $gap;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 12px;
    //padding: 10px 36px 10px 13px;
    color: $text-color;
    line-height: 1;
    border: 1px solid #fff;
    cursor: pointer;
  }
  span{
    display: block;
    position: absolute;
    right: 12px;
    top: -8px;
    bottom: 0;
    @include square(11px);
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    margin: auto;
  }
  select {
    font-family: $text-font-stack;
    font-size: 1rem;
    width: 100%;
    height: $gap;
    border: none;
    color: $text-color;
    //padding-left: 13px;
    line-height: 1;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    option {
      font-family: $text-font-stack;
      background-color: #fff;
      width: 100%;
      font-size: 1rem;
    }
  }

  @include respond-to(md){

  }
}

