.general-section__content-card{
  background-color: #fff;
}

.general-section__content-img{
  margin-bottom: $gap * 0.5;
  height: 190px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;

    @include ieStyles{
      height: auto;
      min-height: 100%;
    }
  }
  @include respond-to(sm){
    height: 300px;
  }

  @include respond-to(lg){
    height: 366px;
  }
}

.general-section__content-info{
  padding: 0 15px $gap;
  h2{
    line-height: 1;
    margin-bottom: 14px;
  }
  p{
    line-height: 1.22rem;
  }
  a{
    margin-top: 10px;
    color: $text-color;
  }
}



