.img__overlay{
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include square(100%);
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
  }
}
