.intro--inner-page__blockquote{
  background: $yellow-gradient;
  padding-top: $gap;
  padding-bottom: $gap;
  text-align: center;

  blockquote{
    border-bottom: none;
    padding: 0;
    margin: 0;
    p{
      max-width: 700px;
      @include center();
    }
    span{
      margin-top: $gap * 0.5;
    }
  }

  @include respond-to(md){
    padding-top: 83px;
    padding-bottom: $gap * 2;
  }
}
