.page-submenu__outer {
  padding-top: 0.5*$gap;

  &-return{
    position: absolute;
    bottom: $gap * 0.5;
    z-index: 2;
  }

  @include respond-to(md) {
    padding-top: 0;
    padding-bottom: $gap * 0.5;

    &-return{
      position: relative;
      bottom: auto !important;
    }
  }
}

.page-submenu {
  max-width: $max-width;
  @include center();
  color: $text-color;

  &.page-return__submenu{
    text-align: left;
    a{
      font-size: 0.88rem;
    }
  }

  @include respond-to(md) {
    color: #fff;
    text-align: center;
    &.page-return__submenu{
      a{
        font-size: 1rem;
      }
    }
  }
}

.page-submenu__item {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    @include square(11px);
    border-right: 1px solid $dark-color;
    border-top: 1px solid $dark-color;
    margin-left: 5px;
    margin-right: 20px;
    transform: rotate(45deg);
  }
  &:last-of-type {
    &:after {
      display: none;
    }
  }
  &.is-active {
    .page-submenu__link {
      font-weight: bold;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.page-submenu__return-item{
    a{
      color: #fff;
    }
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      @include square(11px);
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      margin-right: 15px;
      position: relative;
      transform: rotate(-45deg);
    }
  }

  @include respond-to(md) {
    padding-top: 10px;
    padding-bottom: 5px;
    &:after {
      border-color: #fff;
    }
  }
  @include respond-to(lg) {
    padding-top: 0;
    padding-bottom: 0;
    &:after {
      margin-right: 30px;
    }
  }
}

.page-submenu__link {
  color: inherit;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background-color: $yellow-color;
    width: 100%;
    height: 1px;
    @include transition();
    opacity: 0;
    visibility: hidden;
  }

  @include respond-to(md) {
    &:after {
      bottom: -5px;
    }
  }
}
