.filter-events__row{
  text-align: left;
  flex-wrap: wrap;

  &:last-of-type{
    margin-top: $gap;
  }

  a{
    color: $text-color;
  }

  .search-block__col{
    width: 100%;
    max-width: 100%;
    margin-bottom: 29px;

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  .content-card__label{
    position: relative;
    margin-left: 15px;
    display: inline-flex;
    top: auto;
    right: auto;
  }

  @include respond-to(sm){
    flex-wrap: nowrap;
    .search-block__col{
      width: 50%;
      max-width: 50%;
      margin-bottom: 0;
    }
  }
}

.filter-event__link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: $gap;
  font-weight: bold;
  font-size: 20px;
  color: $text-color;

  @include on-event(){
    color: #fff;
  }
}

.filter-events__col-time{
  display: flex;
  justify-content: space-between;
}

.event-time__link{
  position: relative;
  margin: 0;

  @include respond-to(sm){
    margin: auto;
  }
  @include respond-to(md){
    &:last-of-type{
      padding-right: 36px;
    }
  }
}

.event-time__link-icon{
  display: none;
  vertical-align: middle;
  position: absolute;
  top: 3px;
  right: 0;

  img{
    max-width: 28px;
  }

  @include respond-to(md){
    display: inline-block;
  }
}

.past-events__link{
  max-width: none;
  width: fit-content;
  display: flex;
  margin: 0;
  @include respond-to(sm){
    margin-left: auto;
  }
}
