.search-suggestions__list{
  display: flex;
  margin: 0 -10px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-suggestions__list-item{
  padding: 0 10px;
  margin-bottom: 20px;
}

.search-suggestions__list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  height: $gap;
  background-color: $yellow-color;
  font-size: 1rem;
  min-width: 190px;
  color: $text-color;

  @include on-event(){
    color: #fff;
  }

  @include respond-to(md){
    font-size: 1.1rem;
  }
}
