.search-block__checkboxes{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include respond-to(sm){
    margin-bottom: -15px;
  }
}

.search-block__checkbox-item{
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  text-align: left;

  &:last-of-type{
    margin-right: 0;
  }
  .form__checkbox-text{
    line-height: 1.2;
    vertical-align: top;
    display: inline-block;
    padding-top: 3px;
  }
  @include respond-to(xs){
    width: 50%;
    max-width: 50%;
  }
  @include respond-to(md){
    width: auto;
    max-width: none;
    margin-right: 87px;
    margin-bottom: 15px;
    .form__checkbox-container{
      padding-left: 36px;
    }
    .form__checkbox-text{
      font-size: 1.1rem;
      padding-top: 0;
    }
  }
}
