.shop__list-item {
  width: 50%;
  max-width: 50%;

  @include respond-to(md) {
    width: 25%;
    max-width: 25%;
  }
}

.shop-card {
  background-color: transparent;
  padding: 0;
  h3{
    margin-bottom: 2px;
    br{
      display: none;
    }
  }
  p {
    margin-bottom: 1px;
    font-weight: 500;

    &:last-of-type{
      line-height: 1.33rem;
    }
  }
  .shop-card__img{
    margin-top: 0;
  }

  @include respond-to(sm){
    h3{
      br{
        display: block;
      }
    }
  }
}

.shop-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 13px;
  margin-bottom: 12px;
  overflow: hidden;
  img {
    width: auto;
    height: 127px;
    @include transition-04;
  }

  @include on-event(){
    img{
      transform: scale(1.05,1.05);
    }
  }

  @include respond-to(xs){
    img{
      height: 160px;
    }
  }
  @include respond-to(sm){
    padding: 28px 15px;
    img{
      height: 200px;
    }
  }
  @include respond-to(md){
    img{
      height: 250px;
    }
  }
}
